<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fhhy.phoenix" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".base.BaseApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".mine.activity.AccountActivity" />
        <activity android:name=".mine.activity.ContractModeSettingActivity" />
        <activity android:name=".mine.activity.FundsAccountDetailActivity" />
        <activity android:name=".mine.activity.FundsRecordDetailActivity" />
        <activity android:name=".mine.activity.WithdrawActivity" />
        <activity android:name=".mine.activity.RechargeActivity" />
        <activity android:name=".mine.activity.FullAccountDetailActivity" />
        <activity android:name=".mine.activity.CoinAddressActivity" />
        <activity android:name=".mine.activity.AddNewAddressActivity" />
        <activity android:name=".mine.activity.MyBonusActivity" />
        <activity android:name=".contractdetail.ContractDetailActivity" />
        <activity android:name=".mine.activity.ScanQRCodeActivity" />
        <activity android:name=".contract.activity.OrderActivity" />
        <activity android:name=".contract.activity.HistoryOrderDetailActivity" />
        <activity android:name=".contract.activity.EntrustRecordActivity" />
        <activity android:name=".orderdetail.position.PositionDetailActivity" />

    </application>

</manifest>